*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}
/*header*/
.header{
    padding: 15px;
    line-height: 36px;
}
.header__left{
    float: left;
}
.header__right{
    float: right;
}
ul li{
    display: inline-block;
}
ul li a{
    color: black;
    padding: 0.5rem;
    opacity: 0.8;
}
.header__right--appicon{
    vertical-align: middle;
}
.header__right--button{
    vertical-align: middle;
    background-color: #4285F4;
    color: white;
    border: none;
    width: 96px;
    height: 36px;
    border-radius: 4px;
    font-weight: 600;
}
.header__right--button:hover{
    box-shadow: rgb(211, 211, 211) 5px 3px 5px;
    cursor: pointer;
}
ul li a:hover {
    text-decoration: underline;
}
/* MAİN */
.main{
    
    margin-top: 200px;
    text-align: center;
}
.main__search-bar{
    width: 460px;
    height: 39px;
    border: 2px solid #d3d3d3;
    margin: 20px auto;
    border-radius: 20px;

}
.main__logo{
    width: 272px;
    height: 92px;
}
.main__search-bar--input{
    width: 380px;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;

    margin-top: 2px;
    
}
.main__search-bar--magnifier{
    width: 25px;
    vertical-align: middle;
}
.main__search-bar--mic{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.main_buttons{

}
.main__buttons--left,
.main__buttons--right{
    width: 140px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #d6dadd;
    margin: 30px 0;
    padding: 12px;  
}
.main__buttons--left:hover,
.main__buttons--right:hover{
    border: 1px solid #b1b0b0;
    box-shadow: rgb(211, 211, 211) 1px 1px 10px;
    cursor: pointer;
}

.main__language a:hover{
    text-decoration: underline;
}
/* FOOTER*/
.footer{
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
}
.footer__country{
    font-size: 14px;
    padding-left: 20px;
    border-bottom: #5f6368;
}
.footer__bottom--left{
    float: left;
}
.footer__bottom--right{
    float: right;
}
.footer__bottom ul{
    padding: 20px;
}
